<div class="flex justify-center items-center">
<%= link_to inline_svg_tag('ciscolegrandlogo.svg', size:'250px',class: 'self-center text-lg font-semibold whitespace-nowrap dark:text-white'), root_path, class: 'flex'%>
</div>

<div class="flex flex-col justify-center items-center">
<%= inline_svg_tag('content/content-night.svg',size: '60%', class: '')%>


  <p class="text-xl md:text-base">Thank you for coming this far,  but we are still building this website</p>
  <%#= link_to 'blog', blorgh_path, class: 'button is-success is-large' %>
  <p class="flex flex-col items-center text-xl md:text-base"> Contact: 
  <a href="mailto:cisco.glez@gmail.com" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">cisco.glez@gmail.com</a>

  <a href="https://github.com/ciscoLegrand/" target="_blank" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    <%= inline_svg_tag('icons/ico-github.svg', class: 'icon is-medium mx-3')%>
    ciscoLegrand
  </a>
  </p>
</div>